@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: #282828;
}

.container {
    display: flex;
    width: 30rem; 
    height: 30rem;
    margin: auto;
    border-radius: 3px;
    padding: 1rem;
    justify-content: center;
}

h2 {
    font-size: 32px;
    color: white;
}